/*  GENERAL */

* {
  --bs-gutter-x: !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Avenir", "Helvetica", "Arial", sans-serif;
  background: rgb(228, 226, 226);
  font-size: 18px;
}

/*  SECTION #1   */

p {
  padding: 5px;
}

#out {
  font-weight: 700;
  color: #1d181667;
  background: transparent;
  border: 1px solid #2c2e3d;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  width: 25%;
  text-decoration: line-through;
}

#in {
  font-weight: 700;
  color: #299e33;
  background: transparent;
  border: 1px solid #0c9c24;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  width: 16%;
}

.color-box {
  margin-top: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.product {
  margin-left: 50px;
}

.nav-bar {
  background: linear-gradient(#e62d2d, #611d11);
  height: 80px;
  width: 100%;
  display: block;
}

.product-img {
  display: flex;
  width: 600px;
  height: 600px;
}

.cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart {
  font-size: 30px;
}





/* SECTION #2 */




.container {
  height: 700px;
  
}

.tab {
  display: flex;
  justify-content: center;
}

.tab-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-form {
  width: 30%;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 1rem;
  height: 450px;
  display: grid;
  justify-content: center;
  align-items: center;
}

#review {
  background: transparent;
  border: 1px solid #999fc6;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  color: #2a2a2a;
}

#rating {
  background: transparent;
  border: 1px solid #999fc6;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  color: #2a2a2a;
}

#recommend {
  background: transparent;
  border: 1px solid #999fc6;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  color: #2a2a2a;
}

#sub {
  background-color: #dc3546;
  color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 1.5rem;
  width: max-content;
  transition: all 0.3s linear;
  outline: none;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(234, 58, 45, 0.3);
}

/* ASSETS */

.btn {
  margin-top: 20px;
  border-radius: 5px;
}

.disabledBtn {
  color: rgba(12, 12, 12, 0.65);
}

input {
  background: transparent;
  border: 1px solid #999fc6;
  border-radius: 1rem;
  padding: 0.6rem;
  outline: none;
  color: #2a2a2a;
}

input::placeholder {
  color: #999fc6;
}

ul {
  padding: 0;
  margin-right: 20px;
  display: grid;
  grid-gap: 0.2rem;
}

li {
  background-color: #f5d4c5;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  position: relative;
  list-style: none;
  color: #000000;
}